html{
	-webkit-user-select:none;
	background-color: #221188;
	color: white;
	text-align: center;
}

#actionWindow{
	text-align: center;
}

canvas{
	background-color: white;
	border: 1px solid black;
	display: inline;
}

#dataCont{
	text-align: center;
	height: 400px;
	overflow: auto;
}

button {
	width: 250px;
	height: 75px;
	border-radius: 10px;
	margin: 10px;
	font-size: 25px;
	
}

.controller {
	color: white;
	width: 400px;
	/*outline: 1px solid white;*/
}

.controller .controlRow, .controller .dataRow {
	margin: 0px 5px 0px 5px;
	text-align: left;
}
.controller label, .controller .dataDesc {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 150px;
}

.controller .sliderInput {
	width: 140px;
}

.controller .data {
	display: inline;
}

.controller .numberInput, .controller .data {
	width: 40px;
	vertical-align: top;
	text-align: center;
}

.controller .unit {
	float: right;
	text-align: middle;
	margin-right: 9px;
	vertical-align: bottom;
}
.controller .controlRow:nth-child(even), .controller .dataRow:nth-child(even) {
	background-color: #333;
}

.controller .controlRow:nth-child(odd), .controller .dataRow:nth-child(odd) {
	background-color: #222;
}