body {
	background-color: blue;
}

.addLater {
	background-color: black;
	width: 500px;
	margin: 0px 50px;
	height: 250px;
	font-size: 25px;
	text-align: center;
}

input {
	margin-right: 10px;
}

.canvasCont {
	width: 500px;
	text-align: center;
}

.canvasCont div {
	display: inline-block;
}

.controls {
	display: inline-block;
	color: white;
	width: 450px;
	-webkit-user-select: none
}

.controls .controlRow {
	margin: 0px 5px 0px 5px;
	text-align: left;
}
.controls label {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 150px;
}

.controls .sliderInput {
	width: 125px;
}

.controls .numberInput {
	width: 40px;
	vertical-align: top;
	text-align: center;
}

.controls .unit {
	float: right;
	text-align: middle;
	margin-right: 9px;
	vertical-align: bottom;
}
button {
	margin-right: 10px;
}