

.addLater {
	background-color: darkblue;
	width: 500px;
	margin: 0px 50px;
	height: 250px;
	font-size: 25px;
	text-align: center;
}

input {
	margin-right: 10px;
}

.canvasCont {
	width: 500px;
	text-align: center;
}

.canvasCont div {
	display: inline-block;
}

button {
	margin-right: 10px;
}