/*MOBILE CONTROLLER STYLE*/
.canvasCont {
/* Holds everything related to the canvas (text and engineHolder)*/
  position: relative;
  width: 500px;
  padding-top: 1px;
  text-align: center;
  z-index: 10;
}

.engineHolder {
  /* Holds everything related to the engine (canvas, controller, button)*/
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.controller {
	color: white;
	width: 100%;
	-webkit-user-select: none;
  display: inline;
  text-align: center;
}

/**********************************
ROW
***********************************/
.controller .controllerRow {
	width: 450px;
	height: 35px;
	text-align: left;
  
  vertical-align: middle;
}

.controller .controllerRow:nth-child(even) {
	background-color: #222;
}

.controller .controllerRow:nth-child(odd) {
	background-color: #111;
}

.controller .controllerRow:first-child {
	margin-top: 10px;
}
/* END ROW */


/**********************************************************************
DESCRIPTION - the english words that describe the row
**********************************************************************/
.controller .controllerDescription {
	display: inline-block;
  height:100%;
	vertical-align: middle;
	text-align: center;
	width: 100px;
}
/* END DESCRIPTION */


/**********************************************************************
SLIDERS
**********************************************************************/
.controller .controlSlider {
	width: 150px!important;
	margin-right: 15px!important;
}
/**************************************************
dataSliders are the sliders that only show numbers
without providing controls
***************************************************/
.controller .dataSlider {
	/*These sliders can't be controlled by the mouse*/
	pointer-events: none;
	width: 150px!important;
	margin-right: 15px!important;
}

.controller .dataSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #aaa;
	border: 1px solid black;

	width: 8px;
	height: 20px;
}

/* END SLIDER */

/*********************************************************************
VALUE - The number (either input or output) 
**********************************************************************/
.controller .controllerValue {
	display: inline;
	width: 60px;
	margin:auto;
	vertical-align: top;
	text-align: center;
}

.controller .dataRow .sliderValue {
	vertical-align: top;
}

.controller .dataRow .dataValue {
	display: inline-block;
	height: 100%;
	width: 200px; /* must have a big width because it has no slider */
	text-align: center;
}
/* END VALUE */


/*********************************************************************
UNIT - The units each row is calculated in 
**********************************************************************/
.controller .unit {
  display: inline;
	float: right;
	text-align: center;
	margin-right: 9px;
	vertical-align: middle;
}


.turnedOff {
	pointer-events: none;
}
/* END UNIT */

.ctrlButton {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	margin: 0px 10px 10px 10px;
	font-size: 25px;
	
}


/*********************************************************************
SLIDER MAGIC 
Generated from: http://danielstern.ca/range.css/#/
*********************************************************************/

input[type=range].controlSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.8px 0;
}
input[type=range].controlSlider:focus {
  outline: none;
}
input[type=range].controlSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].controlSlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range].controlSlider:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.01);
}
input[type=range].controlSlider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].controlSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].controlSlider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].controlSlider::-ms-fill-lower {
  background: rgba(128, 128, 128, 0.01);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].controlSlider::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.01);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].controlSlider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].controlSlider:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.01);
}
input[type=range].controlSlider:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.01);
}

/********************************************************************
dataSliders
********************************************************************/
input[type=range].dataSlider {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range].dataSlider:focus {
  outline: none;
}
input[type=range].dataSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a9a9a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].dataSlider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 7px;
  border-radius: 0px;
  background: #3c3c3c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range].dataSlider:focus::-webkit-slider-runnable-track {
  background: #a9a9a9;
}
input[type=range].dataSlider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a9a9a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].dataSlider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 0px;
  background: #3c3c3c;
  cursor: pointer;
}
input[type=range].dataSlider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].dataSlider::-ms-fill-lower {
  background: #a9a9a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].dataSlider::-ms-fill-upper {
  background: #a9a9a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].dataSlider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 0px;
  background: #3c3c3c;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].dataSlider:focus::-ms-fill-lower {
  background: #a9a9a9;
}
input[type=range].dataSlider:focus::-ms-fill-upper {
  background: #a9a9a9;
}
