

#chapterNav {
	position: relative;
	z-index: 1;
}


#actionWindow{
	/*float: right;*/
}

.canvasCont {
	float: left;
	text-align: center;
}

canvas{
	background-color: white;
	border: 1px solid black;
	display: inline;
}

button {
	width: 250px;
	height: 75px;
	border-radius: 10px;
	margin: 10px;
	font-size: 25px;
	
}